head {
}
a {
	text-decoration: underline;
}
h1 {
	display: none;
	font-size: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
}
p {
	display: block;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-family:Verdana, Geneva, sans-serif;
}
body {
	margin: 0px auto;
	width: 100%;
}
.wrapper {
	margin-right: 0 auto;
	margin-left: 0 auto;    
	width: 960px;
	padding-right: 1em;
	padding-left: 1em;
}
header {
	display: none;
}
section {
	display: block;
}
footer {
	display: block;
}
